
<div class='container' ng-controller="addCtl as myAdder">
    <div class="row">
        <div class="page-header">
            <br/>
            <h1>Add Country</h1>

        </div>

            <div class="row">

                <div class="col-sm-6">

                     <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Country</label>
                                <div class="col-sm-10">
                                    <input type = "text" class="form-control" id="country" placeholder="Enter Country Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Population</label>
                                <div class="col-sm-10">
                                    <input type = "text" class="form-control" id="population" placeholder="Enter Population Number">
                                </div>
                            </div>


                         <div class="form-group">
                             <div class="col-md-offset-2 col-sm-10">
                                 <input type="submit" class="btn btn-primary" value="Add Country">
                             </div>
                         </div>

                     </form>





                </div>

            </div>





    </div>
</div>
